.title {
    text-align: center;
    font-weight: bold; 
    font-size: 3.5em;  
    margin-top: -60px; 
    color: #707070; 
}

section {
    position: absolute; 
    left: 0; 
    width: 100%;
    font-family: sans-serif; 
    box-sizing: border-box; 
    padding: 100px; 
}

h2 {
    padding-top: 100px;
    color: blue
}

form {
    color:blue;
}

.logo {
    display: block; 
    
    margin-right: auto; 
    margin-left: auto; 
}