.title {
    font-weight: bold; 
    font-size: 3.5em;  
    margin-top: -60px; 
    color: #707070; 
    padding-bottom: 20px; 
}

section {
    position: absolute; 
    left: 0; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box; 
    padding: 100px; 
    color: #707070; 
    font-size: 1.3em; 
}

.appsHeader{
    font-size: 0.5em; 
    font-weight: bold; 
    margin-top: 57px; 
    margin-bottom: 27px;
}

.appsContainer{
    display: grid; 
    grid-template-rows: auto auto auto; 
    grid-template-columns: auto auto; 
    grid-column-gap: 75px; 
    grid-row-gap: 125px;
}

.pageDescription{
    font-size: 0.3em; 
    font-weight: normal; 
    margin-bottom: 72px;
}

.appDescription{
    width: 50vw; 
    margin-top: 27px;
    margin-left: 75px;
}

.appFace{
    background-color: gray; 
    border-radius: 2em; 
    max-height: 210px; 
    min-height: 210px; 
    max-width: 210px; 
    min-width: 210px; 
    width: 21vw;
}

.appNDesc{
    display: flex; 
    flex-wrap: nowrap;
}