@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";

body {
 
  /*font-family: Arial;*/
  /*text-align: left;*/
  /*font-size: 1.2em;*/

}

h4 a{
    text-decoration: none;
}

.AppsTitle {
    font-weight: bold; 
    font-size: 3.5em;  
    margin-top: -60px; 
    color: #707070; 
    padding-bottom: 20px; 
}

.navbar-fixed-top.scrolled {
    background-color: rgba(168, 177, 188, 0.866) !important;
    transition: background-color 200ms linear;
}
  
.navbar-fixed-top.scrolled .nav-link {
    color:#555;
}
  
.bgcolor.scrolled {
    background-color: green; 
}

.aT{
    text-decoration: none;
}

section {
    position: absolute; 
    left: 0; 
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    box-sizing: border-box; 
    padding: 100px; 
    color: #707070; 
    font-size: 1.3em; 
}

.appsHeader{
    font-size: 0.5em; 
    font-weight: bold; 
    margin-top: 57px; 
    margin-bottom: 27px;
}

.appsContainer{
    display: grid; 
    grid-template-rows: auto auto auto; 
    grid-template-columns: auto auto; 
    grid-column-gap: 75px; 
    grid-row-gap: 125px;
}

.pageDescription{
    font-size: 0.3em; 
    font-weight: normal; 
    margin-bottom: 72px;
}

.appDescription{
    width: 50vw; 
    margin: 100px;
    margin-left: 90px;
    margin-top: 27px;
    font-size: medium;
}

.appFace{
    background-color: gray; 
    margin-top: 3vh;
    border-radius: 1.8em; 
    display: block;
    height: 24vh;
    width: 17vw;
    max-height: 160px;
    min-height: 150px;
    max-width: 160px;
    min-width: 150px;

    box-shadow: 0.5vh 0.5vh 9px rgb(225, 225, 225), 
            -3px -3px 9px rgb(213, 213, 213);
}

.appFace:hover{
    transform: scale(1.2);
    transition-duration: 0.15s;

}

.appNDesc{
    display: flex; 
    flex-wrap: nowrap;
}