@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css";

body {
 
  /*font-family: Arial;*/
  /*text-align: left;*/
  /*font-size: 1.2em;*/

}

.title {
  font-size: 3em; 
  margin-top: -200px; 
}
.title-pic {
  width: 800px; 
  margin-top: -150px; 
  margin-left: -200px; 

}

.title {
  margin-top: -50px; 
  margin-left: -100px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; 
  color: #707070; 
  font-size: 70px; 

}

.welcome-text {
  font-size: 0.3em; 
  text-align: left; 
  font-family: Arial, Helvetica, sans-serif; 
  color: #707070; 
  font-weight: normal; 
}

#about {
  padding-top: 200px; 
}
section {
  position: absolute; 
  padding-top: -100px; 
  left: 0; 
  width: 100%;
  height: 100vh; 
  font-family: Arial, Helvetica, sans-serif; 
  box-sizing: border-box; 
  padding: 200px; 
}

#mission-title {
  position: relative; top: 70%; 
  font-size: 2em;

}

#mission {
  font-size:1.2em;  
  position: relative; top: 70%; 
  padding-bottom: 20%; 
  text-align: left; 
}



#mainMenu {
  font-family: Arial;
  text-align: center;
  font-size: 1.2em;
  color: black;
}


.navbar-fixed-top.scrolled {
  background-color: rgba(168, 177, 188, 0.866) !important;
  transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
  color:#555;
}

.bgcolor.scrolled {
  background-color: green; 
}


/*socials {
  font-family: Arial;
  text-align: center;
  font-size: 1.2em;
  color: white;
  background-color: dark blue;  
}*/

/*Pre-defined Classes*/
h1 {
  font-family: Verdana;
  text-align: left;
  font-size: 2em;
  color: black;
}

h2 {
  font-family: Verdana;
  text-align: center;
  font-size: 1.6em;
  color: dark blue;
}

h3 {
  font-family: Verdana;
  text-align: left;
  font-size: 1.4em;
}

p {
  text-align: center; 
  font-size: 1.2em;
  color: #707070;
}

.footer {
  height: 200px;
  margin-top: -50px;
  padding-top: 30px;
  position: absolute;
  left: 0;
  bottom: -160%;
  width: 100%;
 
  background-color:rgb(40, 40, 41) ;
  color: white;
  text-align: center;
}

