<!DOCTYPE = html>
<head>
    <meta charset = "UTF-8">
    <style>
    body{
        background-color: blue
    }
    h2{
        color: white
    }
    ul{
        color: white
    }
    </style>
</head>
<html>
    <body>
    <h2>Goals</h2>
      <h2>launched apps</h2>
      <h2>Current Members</h2>
        <ul>
         <li>--><a href = "https://www.linkedin.com/in/cymmone-yancey/">Cymmone Yancey - Mobile App Dev Lead</a></li> 
        <li>--><a href = "https://www.linkedin.com/in/kayla-patterson/">Kayla Patterson - Website Dev Lead</a></li>
        <li>--><a href = "https://www.linkedin.com/in/cameronwpayton123/">Cameron Payton - Website Dev Co-Lead</a></li>
        <li>--><a href = "https://www.linkedin.com/in/elijahhiggs/">Elijah Higgs</a></li>
        <li>--><a href = "https://www.linkedin.com/in/jonathan-aner/">Jon Aner</a></li>
        <li>--><a href = "https://www.linkedin.com/in/brent-oliver/">Brent Oliver</a></li>
        <li>--><a href = "https://www.linkedin.com/in/can-dilikoglu-599120192/">Can Dilikoglu</a></li>
        <li>--><a href = "https://www.linkedin.com/in/joseph-hayes-73992b1b9/">Joseph Hayes</a>/li>
        <li>--><a href = "https://www.linkedin.com/in/rayna-wynn/">Rayna Wynn</a></li>
        <li>--><a href = "https://www.linkedin.com/in/angeladarden/">Angela Darden</a></li>
        <li>--><a href = "https://www.linkedin.com/in/shanyah-scott-01/">Shanyah Scott</a></li>
    </ul>
    </body>
</html>