<!DOCTYPE html>
<html>
  <head>
    <title>Team - Pirate's AppDev</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css" media="general">
  </head>
  <body>
    <section id="mainMenu">
      <ul>
        <li>apps</li>
        <li>team</li>
        <li>sponsors</li>
        <li>apply</li>
        <li>lectures</li>
      </ul>
    </section>
    <section id="body">
      <h1>
        Meet The Crew
      </h1>
      <p> Carousel goes here </p>
      <div class="team-carousel">
          <div class="hCarousel1">
            <img src="https://media-exp1.licdn.com/dms/image/C4E22AQEBnnNO3yG-tA/feedshare-shrink_2048_1536/0?e=1594857600&v=beta&t=SVm39ChDjkwxwo35oDOiQGTZGcD1ic8Cw0y2gfa4ymU" alt="Kayla Patterson" style="width:100%">
          </div>

          <div class="hCarousel1">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQH-cMxlZ25aPA/profile-displayphoto-shrink_800_800/0?e=1597276800&v=beta&t=QyvR5S_kSbjQQUad5KZRv77anEYgbfQys38LZx7dsWo" alt="Hunter Allen" style="width:100%">
          </div>

          <div class="hCarousel1">
            <img src="https://media-exp1.licdn.com/dms/image/C4D03AQHBD3rWb2dqxw/profile-displayphoto-shrink_400_400/0?e=1597276800&v=beta&t=VCFNvPJyY2fb9lvJ0QVZBsulU7xvF18TM3zWTJ56OP4" alt="Marques Anderson" style="width:100%">
          </div>

          <a class="back" onclick="plusSlides(-1, 0)">&#10094;</a>
          <a class="forward" onclick="plusSlides(1, 0)">&#10095;</a>
        </div>
    </section>
    <section id="socials">
      <li>Facebook</li>
      <li>Twitter</li>
      <li>YouTube</li>
    </section>
  </body>
</html>
